<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Node Server</title>
    </head>
    <body>
       {{> header}}
       <h3>Portfolio Page</h3>

       {{> footer}}
    </body>
</html>